<div class="column is-4">
    <div class="block homeblock">
    <h1>Hi!</h1>
    
    <p>
        I'm a Math and Computer Science student at the <a href="https://www.uq.edu.au/" target="_blank">Univeristy of Queensland</a> with an interest in high performance computing.
    </p>

    <p>
        All pages are pretty blank for now. I hope to fill it out more later on with my Zettelkasten notes I take using <a href="https://www.orgroam.com" target="_blank">Org Roam </a> in <a href="https://www.gnu.org/software/emacs/" target="_blank">Emacs</a>.
    </p>
    
    </div>
</div>
